// ------------------------------------------------------------------
// Red
// ------------------------------------------------------------------

&--violet {

   color: $white;
   @include color-slide;

   background-color:$violet;

    &:after {
        color: #FFF;
    }

}
