// ------------------------------------------------------------------
// Red
// ------------------------------------------------------------------

&--yellow {

   @include color-slide;

   background-color:$yellow;
   color: $dark;

    &:after {
        color: $dark;
    }

}
